.tr {
  border-top: 1px solid gray;
  border-bottom: 1px solid grey;
}

/* .tr:focus {
  outline: 1px solid red;
} */

.tr>td {
  position: relative;
  /* z-index: -1; */
}

.tr:focus>td::after,
.tr:focus>th::after,
.tr.selected>td::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 105%;
  border-top: 3px solid orange;
  border-bottom: 3px solid orange;
  /* z-index: 1; */
}

.tr:focus>th::after {
  border-left: 3px solid orange;
}

.tr>td:last-child::after {
  width: auto;
  border-right: 3px solid orange;
}

.tr:focus>td:last-child::after {
  width: auto;
  border-right: 3px solid orange;
}

.naimSechShortTh {
  position: sticky;
  /* top: 0; */
  left: 0;
  width: 200px;
  min-width: 200px;
  color: #000;
  background-color: #e3e3e3;
  z-index: 1000;
}

.metrTd {
  padding: 0;
}

.metrTable {
  margin: 0;
  border: none;
}

/* .selected {
  outline: 1px solid red;
} */