.tablePlanrabot {
  border-right: 1px solid grey;
}

.tableMetr {
  margin: 0;
}

.thMetr {
  padding: 0;
}

.naimSechHead {
  position: fixed;
  /* top: 0;
  left: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-width: 200px;
  height: 42px;
  z-index: 1600;
}

.soglGtp,
.dopusk,
.krSrokPodachi,
.dogFact,
.vyezdFact,
.vniimsFact,
.rstFact,
.prikazFact,
.oforSopFact {
  width: var(--date-col-width);
  min-width: var(--date-col-width);
}


.statusUS {
  width: 100px;
  min-width: 100px;
}

.planPodachi {
  width: 85px;
  min-width: 85px;
}

.gr {
  width: 70px;
  min-width: 70px;
}

.sdSop {
  width: 85px;
  min-width: 85px;
}

.naimAiis2 {
  width: 125px;
  min-width: 125px;
}

.izmAiis {
  width: 35px;
  min-width: 35px;
}

.neobhRab {
  width: 125px;
  min-width: 125px;
}

.rabZaplan {
  width: 55px;
  min-width: 55px;
}

.codirovkaActual {
  width: 120px;
  min-width: 120px;
}